html{
    font-size:9px;
}

#ana-section{
    flex-direction: column;
}

#form-container{
    width: 100%;
    border:none;
    border-top:1rem solid green;
    border-bottom:1rem solid green;
    box-shadow:none;
    margin:0;
    margin-bottom:2.5rem;
}

.sehir-item{
    margin-bottom:0.6rem;
}

#bolgeler{
    width: 35rem;
}

/*LİSTELEME KISMI*/

#saha-container{
    width: 100%;
    margin:0;
}

.saha{
    width: 100%;
    height: 20rem;
    margin-bottom:3rem;
    border-bottom:1px solid #555555;
    border-right:1px solid #555555;
}



.saha-icerik{
    justify-content: space-between;
}