#header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    justify-content: center;
}

#baslik-container{
    width: 83%;
}

#baslik{
    font-size:5rem;
    font-weight: bold;
    color:#056a28;
}

.aciklama{
    font-size: 2rem;
}

/*ANA KISIM*/
#ana-container{
    background-color: #f0f2f5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#slider{
    width: 55%;
    border-radius: 2rem;
    align-self: flex-start;
}

img{
    border:0.2rem solid black;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.5rem #056a28;
}

/*LOGİN SAYFASI*/
#login-form-container{
    width: 22%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem   #056a28;
    align-self: flex-start;
}

h2{
    text-align: center;
    margin-bottom:1rem;
}

input[type="text"],input[type="password"]{
    display: block;
    width: 100%;
    padding:0.6rem;
    font-size:1.5rem;
    border-radius: 0.5rem;
    border:0.1rem solid #056a28;
}



.form-group{
    margin-bottom:1rem;
    text-align: center;
}
.form-group a{
    color:#056a28;
}

.form-group a:hover{
    text-decoration: underline;
}

.btn{
    font-size: 1.8rem;
    padding:1rem;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
}
.btn-1{
    background-color: #056a28;
    color:white;
    border: 1px solid white;
}

.btn-1:hover{
    color:#056a28;
    background-color: white;
    border:1px solid #056a28;
}

.btn-2{
    background-color: white;
    color:#056a28;
    border:1px solid #056a28;
    display: inline-block;
}

.btn-2:hover{
    background-color:#f0f2f5;
    color:#056a28;
    border: 3px solid #056a28;
}


































/*.owl-dots{
    display:none;
}*/

